<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Lab Tech Tests Processed</title>
        <link rel='stylesheet' href='/stylesheets/table_view.css' />
    </head>
<body>
    <div class="login-form">
        <body>
            <h1>Lab Tech Tests Processed</h1>

            
            
                <table>
                    <tr>
                    <th>Test ID#</th>
                    <th>Pool ID</th>
                    <th>
                      Date Tested
                      <br>
                      <form action="lab_tech_tests_processed" method="GET">
                        <button type="submit" name="test_asc" value = "a"><</button>
                      </form>
                      <form action="lab_tech_tests_processed" method="GET">
                        <button type="submit" name="test_desc">></button>
                      </form>
                    </th>
                    <th>
                      Date Processed
                      <br>
                      <form action="lab_tech_tests_processed" method="GET">
                        <button type="submit" name="processed_asc"><</button>
                      </form>
                      <form action="lab_tech_tests_processed" method="GET">
                        <button type="submit" name="processed_desc">></button>
                      </form>
                    </th>
                    <th>
                      Result
                      <br>
                      <form action="lab_tech_tests_processed" method="GET">
                        <button type="submit" name="result_asc"><</button>
                      </form>
                      <form action="lab_tech_tests_processed" method="GET">
                        <button type="submit" name="result_desc">></button>
                      </form>
                    </th>
                    </tr>
                    <% for (var i = 0; i < data.length; i++) { %>
                        <tr>
                        <td><%= data[i].test_id %></td>
                        <td><%= data[i].pool_id %></td>
                        <td><%= data[i].test_date %></td>
                        <td><%= data[i].process_date %></td>
                        <td><%= data[i].test_status %></td>
        
                        </tr>
                    <% } %>

                </table>
            
            <br>

           <form action="lab_tech_tests_processed" method="POST">

                <br>
                <span id="message">Test Result</span>
                <select name="status" id="status">
                    <option value="all">ALL</option>
                    <% for (var i=0; i < kindStatus.length; i++) { %>
                    <option value="<%= kindStatus[i].test_status %>"> <%= kindStatus[i].test_status %></option>
                    <% } %>
                </select>

                <span id="message">Start Date Tested</span>
                <input type="date" name="start_date">
                <span id="message">End Date Tested</span>
                <input type="date" name="end_date">

                <!-- <input type="submit" value="Submit"> -->


            </form> 

            <form action="sign_up_for_a_test" method="GET">
                <input type="submit" value="Reset">
            </form>

            <form action="home_screen" method="GET">
                <input type="submit" value="Back (Home)">
            </form>

            <form action="home_screen" method="GET">
                <input type="submit" value="Back (Home)">
            </form>
        </body>
    </div>
</body>
</html>