<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/register.css' />
    <script src="/javascripts/register.js" async></script>
  </head>
  <body>
    <div class="register-form">
        <h1><%= title %></h1>
        <span id="error_message"><%= error%></span>
                <form action="create" method="POST">
                    <input type="text" name="username" placeholder="Username" required>
                    <input type="email" name="email" placeholder="Email" required>
                    <input type="text" name="fname" placeholder="First Name" required>
                    <input type="text" name="lname" placeholder="Last Name" required>
                    <input type="password" id="password" name="password" placeholder="Password" minlength="8" required>
                    <span id="message"></span>
                    <input type="password" id="confirm_password" name="confirm_password" placeholder="Confirm Password" onkeyup='check();' required>
                    

                    <select name="status" id="options" required>
                      <option value=""> Select Status</option>
                      <option value="2"> Student</option>
                      <option value="3"> Employee</option>
                    </select>
                    
                    <!-- student requirement -->
                    <select name="housing_type" id="housing_type">
                      <option value="">Select Housing Type</option>
                      <% for (var i=0; i < housing.length; i++) { %>
                      <option value="<%= housing[i].housing_type %>"> <%= housing[i].housing_type %></option>
                      <% } %>
                    </select>

                    <select name="location" id="location">
                      <option value="">Select Location</option>
                      <% for (var i=0; i < loc.length; i++) { %>
                        <option value="<%= loc[i].location %>"> <%= loc[i].location %></option>
                        <% } %>
                    </select>

                    <!-- employee requirement -->
                    <input id="phone" type="tel" name="phone" placeholder="Phone Number">
                    <label for="site_tester" id="site_tester">
                      <input id="site_tester_out" type="checkbox" name="site_tester">
                      Site Tester
                    </label>
                    
                    <label for="labtech" id="labtech">
                      <input id="labtech_out" type="checkbox" name="labtech">
                      Lab Tech
                    </label>

                    <input type="submit" id="complete_register" value="Register">
                </form>

                <form action="/">
                  <input type="submit" value="Back to Login">
                </form>

        </div>
   </body>
</html>
