<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Aggregate Test Results</title>
        <link rel='stylesheet' href='/stylesheets/table_view.css' />
    </head>
<body>
    <div class="login-form">
        <body>
            <h1>Aggregate Test Results</h1>

            <span id="error"><%= error%></span>
            
            <form action="sign_up_for_a_test_process" method="POST">
                <table>
                    <tr>
                    <th>Date</th><th>Time</th><th>Site Address</th><th>Test Site</th><th>Signup</th>
                    </tr>
                    <% for (var i = 0; i < data.length; i++) { %>
                        <tr>
                        <td><%= data[i].appt_date %></td>
                        <td><%= data[i].appt_time %></td>
                        <td><%= data[i].street %></td>
                        <td><%= data[i].site_name %></td>
                        <td><input id="sign_up_spot" type="checkbox" name="<%=i%>"></td>
                        </tr>    
                    <% } %>
                    
                </table>
                <input type="submit" value="Sign Up">
            </form>
            <br>
            
            <form action="sign_up_for_a_test_filtered" method="POST">

                <br>
                <span id="message">Site</span>
                <select name="sites" id="sites">
                    <option value="all">ALL</option>
                    <% for (var i=0; i < sites.length; i++) { %>
                    <option value="<%= sites[i].housing_type %>"> <%= sites[i].site_name %></option>
                    <% } %>
                </select>

                <span id="message">Start Date</span>
                <input type="date" name="start_date">
                <span id="message">End Date</span>
                <input type="date" name="end_date">

                <span id="message">Start Time</span>
                <input type="time" name="start_time">
                <span id="message">End Time</span>
                <input type="time" name="end_time">
                <input type="submit" value="Filter">


            </form>
        
            <form action="sign_up_for_a_test" method="GET">
                <input type="submit" value="Reset">
            </form>
        
            <form action="home_screen" method="GET">
                <input type="submit" value="Home">
            </form>
        </body>
    </div>
</body>
</html>