<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Signup For a Test</title>
        <link rel='stylesheet' href='/stylesheets/table_view.css' />
    </head>
<body>
    <div class="login-form">
        <body>
            <h1>Signup For a Test</h1>

            <span id="error_message"><%= error%></span>
            
                <table>
                    <% if (data[0].appt_date != "N/A") { %>
                    <form action="sign_up_for_test_filtered" method="POST">
                        <tr>
                            <input type="hidden" name="initial_data" value="<%=initial_data%>">
                            <th>
                                <button type="submit" name="orderby" value = "appt_date asc"><</button>
                                <button type="submit" name="orderby" value = "appt_date desc">></button>
                                Date</th>
                            <th>
                                <button type="submit" name="orderby" value = "appt_time asc"><</button>
                                <button type="submit" name="orderby" value = "appt_time desc">></button>
                                Time</th>
                            <th>Site Address</th>
                            <th>
                                <button type="submit" name="orderby" value = "site_name asc"><</button>
                                <button type="submit" name="orderby" value = "site_name desc">></button>
                                Test Site</th>
                            <th>Signup</th>
                        </tr>
                    </form>

                    <% } else { %>
                        <tr>
                            <th>
                                Date</th>
                            <th>
                                Time</th>
                            <th>Site Address</th>
                            <th>
                                Test Site</th>
                            <th>Signup</th>
                        </tr>
                    <% } %>

                    <form action="sign_up_for_test_process" method="POST">
                    <% for (var i = 0; i < data.length; i++) { %>
                        <tr>
                        <td><%= data[i].appt_date %></td>
                        <td><%= data[i].appt_time %></td>
                        <td><%= data[i].street %></td>
                        <td><%= data[i].site_name %></td>
                        <td><input id="sign_up_spot" type="radio" name="sign_up_spot" value="<%= data[i].site_name %>,<%= data[i].appt_date %>,<%= data[i].appt_time %>" required></td>
                        </tr>    
                    <% } %>
                    
                </table>
                <% if (data[0].appt_date != "N/A") { %>
                <input type="submit" value="Sign Up">
                <% } %>
            </form>
            <br>
            
            <form action="sign_up_for_test_filtered" method="POST">

                <br>
                <span id="message">Site</span>
                <select name="sites" id="sites">
                    <option value="all">ALL</option>
                    <% for (var i=0; i < sites.length; i++) { %>
                    <option value="<%= sites[i].site_name %>"> <%= sites[i].site_name %></option>
                    <% } %>
                </select>

                <span id="message">Start Date</span>
                <input type="date" name="start_date">
                <span id="message">End Date</span>
                <input type="date" name="end_date">

                <span id="message">Start Time</span>
                <input type="time" name="start_time">
                <span id="message">End Time</span>
                <input type="time" name="end_time">
                <input type="submit" value="Filter">


            </form>
        
            <form action="sign_up_for_a_test" method="GET">
                <input type="submit" value="Reset">
            </form>
        
            <form action="home_screen" method="GET">
                <input type="submit" value="Home">
            </form>
        </body>
    </div>
</body>
</html>