<!DOCTYPE html>
<html lang="en">
    <head>
        <title><%= title %></title>
        <link rel='stylesheet' href='/stylesheets/table_view.css' />
    </head>
<body>
    <div class="login-form">
        <body>
            <h1><%= title %></h1>

            <span id="error_message"><%= error%></span>
            <% if (data[0].test_id != "N/A") { %>
                <table>
                    <tr>
                    <th>Test ID#</th>
                    <th>
                        <button type="submit" name="orderby" value = "appt_date asc"><</button>
                        <button type="submit" name="orderby" value = "appt_date desc">></button>
                        Date Tested
                    </th>
                    <th>Include in Pool</th>
                    </tr>
                    <form action="create_pool_process" method="POST">
                    <% for (var i = 0; i < data.length; i++) { %>
                        <tr>
                        <td><%= data[i].test_id %></td>
                        <td><%= data[i].appt_date %></td>
                        <td><input id="sign_up_spot" type="checkbox" name="<%=data[i].test_id%>"></td>
                        </tr>    
                    <% } %>
                    
                </table>
                <br>
                    <input type="text" name="pool_id" placeholder="Pool ID#" required>
                <br>
                    <input type="submit" value="Create Pool">
                
                
            </form>
            <% } else { %>
                    <!-- <button id="empty_button">Create Pool</button> -->
            <% } %>
            
        
       
            <form action="home_screen" method="GET">
                <input type="submit" value="Home">
            </form>
        </body>
    </div>
</body>
</html>